/* ==========================================================================
  Reset 
  ========================================================================== */

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* ==========================================================================
  General 
  ========================================================================== */

/* Fonts */

/* Font from https://www.fontspace.com/spongeboytt2-font-f41984 by SoulfurFTG */
@font-face {
  font-family: 'spongebob-font';
  src: url('/assets/Spongeboytt2Regular-ALLjx.ttf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: 'spongebob-font', 'Segoe Print', 'Bradley Hand', 
    Chilanka, TSCu_Comic, casual, cursive, serif;
}

/* Variables */

*, body {
  --accent-colour-one: #F8D030;
  --accent-colour-one-darker: #FAB630;
  --accent-colour-two: #C0ECE6;
  --brown: #B07229;
  --grey: #282828;
}

/* ==========================================================================
  Header 
  ========================================================================== */

header {
  padding: 2em;
  background-color: var(--accent-colour-one);
}

/* Nav */

nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 24rem;
}

nav button {
  padding: 1rem 3rem;
  margin: 0 4rem;
  border: 2px solid var(--grey);
  border-radius: 0.3em;
  background-color: var(--accent-colour-one);
  color: var(--grey);
}

nav button:hover {
  cursor: pointer;
  background-color: var(--accent-colour-one-darker);
}

nav button.current-tab {
  background-color: var(--accent-colour-one-darker);
}

/* ==========================================================================
  Content 
  ========================================================================== */

#content {
  padding: 2rem;
}
/* Home */
/* Menu */

#menu-container h2 {
  margin: 1rem 0;
  color: var(--accent-colour-one-darker);
}

#menu-container .item-options {
  padding-left: 0.8rem;
}

#menu-container .item-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.2rem;
  margin: 0 2rem;
}


/* Contact */